In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [60]:
from pandas import read_html

In [85]:
d1 = pd.io.html.read_html('http://www.lotto-8.com/listlto539.asp?indexpage=1&orderby=new') [4]

type(d1)
d1

             0                       1    2
0           日期               今彩539中獎號碼   備註
1   2018/02/19  07 , 13 , 25 , 33 , 38  NaN
2   2018/02/17  01 , 03 , 13 , 24 , 38  NaN
3   2018/02/16  01 , 02 , 08 , 18 , 31  NaN
4   2018/02/15  02 , 05 , 11 , 18 , 28  NaN
5   2018/02/14  02 , 07 , 12 , 17 , 39  NaN
6   2018/02/13  10 , 19 , 20 , 23 , 33  NaN
7   2018/02/12  04 , 11 , 14 , 16 , 28  NaN
8   2018/02/10  14 , 17 , 19 , 21 , 39  NaN
9   2018/02/09  05 , 07 , 31 , 32 , 39  NaN
10  2018/02/08  01 , 05 , 24 , 30 , 34  NaN
11  2018/02/07  03 , 25 , 26 , 30 , 31  NaN
12  2018/02/06  10 , 12 , 17 , 24 , 35  NaN
13  2018/02/05  05 , 17 , 22 , 23 , 24  NaN
14  2018/02/03  12 , 21 , 24 , 31 , 34  NaN
15  2018/02/02  01 , 10 , 13 , 16 , 20  NaN
16  2018/02/01  13 , 15 , 20 , 22 , 37  NaN
17  2018/01/31  01 , 02 , 13 , 22 , 39  NaN
18  2018/01/30  08 , 10 , 15 , 17 , 31  NaN
19  2018/01/29  19 , 22 , 24 , 31 , 37  NaN
20  2018/01/27  03 , 23 , 29 , 34 , 39  NaN
21  2018/01/26  02 , 17 , 19 , 24 , 27  NaN
22  2018/01/25  06 , 07 , 14 , 22 , 36  NaN
23  2018/01/24  23 , 27 , 30 , 36 , 37  NaN
24  2018/01/23  01 , 04 , 07 , 29 , 33  NaN
25  2018/01/22  14 , 23 , 32 , 34 , 35  NaN
26  2018/01/20  12 , 23 , 25 , 26 , 28  NaN
27  2018/01/19  03 , 05 , 14 , 15 , 20  NaN
28  2018/01/18  08 , 23 , 29 , 35 , 37  NaN
29  2018/01/17  07 , 09 , 12 , 25 , 26  NaN
30  2018/01/16  07 , 12 , 13 , 15 , 23  NaN

In [92]:
for i in range(2,5):
    url = 'http://www.lotto-8.com/listlto539.asp?indexpage='+ str(i) +'&orderby=new'
    d2 = pd.io.html.read_html(url)[4][1:]
    d1 = d1.append(d2,ignore_index = True)
d1

              0                       1    2
0            日期               今彩539中獎號碼   備註
1    2018/02/19  07 , 13 , 25 , 33 , 38  NaN
2    2018/02/17  01 , 03 , 13 , 24 , 38  NaN
3    2018/02/16  01 , 02 , 08 , 18 , 31  NaN
4    2018/02/15  02 , 05 , 11 , 18 , 28  NaN
5    2018/02/14  02 , 07 , 12 , 17 , 39  NaN
6    2018/02/13  10 , 19 , 20 , 23 , 33  NaN
7    2018/02/12  04 , 11 , 14 , 16 , 28  NaN
8    2018/02/10  14 , 17 , 19 , 21 , 39  NaN
9    2018/02/09  05 , 07 , 31 , 32 , 39  NaN
10   2018/02/08  01 , 05 , 24 , 30 , 34  NaN
11   2018/02/07  03 , 25 , 26 , 30 , 31  NaN
12   2018/02/06  10 , 12 , 17 , 24 , 35  NaN
13   2018/02/05  05 , 17 , 22 , 23 , 24  NaN
14   2018/02/03  12 , 21 , 24 , 31 , 34  NaN
15   2018/02/02  01 , 10 , 13 , 16 , 20  NaN
16   2018/02/01  13 , 15 , 20 , 22 , 37  NaN
17   2018/01/31  01 , 02 , 13 , 22 , 39  NaN
18   2018/01/30  08 , 10 , 15 , 17 , 31  NaN
19   2018/01/29  19 , 22 , 24 , 31 , 37  NaN
20   2018/01/27  03 , 23 , 29 , 34 , 39  NaN
21   2018/01/26  02 , 17 , 19 , 24 , 27  NaN
22   2018/01/25  06 , 07 , 14 , 22 , 36  NaN
23   2018/01/24  23 , 27 , 30 , 36 , 37  NaN
24   2018/01/23  01 , 04 , 07 , 29 , 33  NaN
25   2018/01/22  14 , 23 , 32 , 34 , 35  NaN
26   2018/01/20  12 , 23 , 25 , 26 , 28  NaN
27   2018/01/19  03 , 05 , 14 , 15 , 20  NaN
28   2018/01/18  08 , 23 , 29 , 35 , 37  NaN
29   2018/01/17  07 , 09 , 12 , 25 , 26  NaN
..          ...                     ...  ...
151  2017/11/06  17 , 20 , 23 , 24 , 28  NaN
152  2017/11/04  04 , 06 , 11 , 22 , 28  NaN
153  2017/11/03  04 , 12 , 13 , 28 , 36  NaN
154  2017/11/02  02 , 05 , 10 , 19 , 38  NaN
155  2017/11/01  01 , 13 , 18 , 35 , 38  NaN
156  2017/10/31  01 , 03 , 05 , 09 , 37  NaN
157  2017/10/30  02 , 15 , 21 , 31 , 36  NaN
158  2017/10/28  02 , 10 , 12 , 14 , 21  NaN
159  2017/10/27  02 , 03 , 07 , 19 , 22  NaN
160  2017/10/26  13 , 17 , 18 , 27 , 35  NaN
161  2017/10/25  03 , 17 , 23 , 27 , 31  NaN
162  2017/10/24  08 , 14 , 15 , 20 , 25  NaN
163  2017/10/23  03 , 11 , 25 , 30 , 36  NaN
164  2017/10/21  12 , 17 , 26 , 27 , 34  NaN
165  2017/10/20  02 , 07 , 16 , 29 , 33  NaN
166  2017/10/19  16 , 20 , 28 , 33 , 34  NaN
167  2017/10/18  06 , 09 , 18 , 31 , 32  NaN
168  2017/10/17  06 , 24 , 31 , 32 , 35  NaN
169  2017/10/16  22 , 28 , 30 , 35 , 38  NaN
170  2017/10/14  02 , 13 , 35 , 36 , 39  NaN
171  2017/10/13  07 , 15 , 24 , 34 , 37  NaN
172  2017/10/12  23 , 26 , 28 , 32 , 36  NaN
173  2017/10/11  08 , 17 , 19 , 20 , 30  NaN
174  2017/10/10  13 , 21 , 28 , 37 , 38  NaN
175  2017/10/09  05 , 07 , 10 , 14 , 15  NaN
176  2017/10/07  05 , 20 , 26 , 29 , 34  NaN
177  2017/10/06  03 , 11 , 28 , 29 , 33  NaN
178  2017/10/05  17 , 19 , 21 , 24 , 37  NaN
179  2017/10/04  06 , 11 , 17 , 26 , 32  NaN
180  2017/10/03  11 , 14 , 16 , 21 , 30  NaN

[181 rows x 3 columns]

In [96]:
writer = pd.ExcelWriter('output.xlsx')
d1.to_excel(writer,sheet_name='Sheet1', na_rep='')
writer.save()

             0                       1    2
0           日期               今彩539中獎號碼   備註
1   2018/02/19  07 , 13 , 25 , 33 , 38  NaN
2   2018/02/17  01 , 03 , 13 , 24 , 38  NaN
3   2018/02/16  01 , 02 , 08 , 18 , 31  NaN
4   2018/02/15  02 , 05 , 11 , 18 , 28  NaN
5   2018/02/14  02 , 07 , 12 , 17 , 39  NaN
6   2018/02/13  10 , 19 , 20 , 23 , 33  NaN
7   2018/02/12  04 , 11 , 14 , 16 , 28  NaN
8   2018/02/10  14 , 17 , 19 , 21 , 39  NaN
9   2018/02/09  05 , 07 , 31 , 32 , 39  NaN
10  2018/02/08  01 , 05 , 24 , 30 , 34  NaN
11  2018/02/07  03 , 25 , 26 , 30 , 31  NaN
12  2018/02/06  10 , 12 , 17 , 24 , 35  NaN
13  2018/02/05  05 , 17 , 22 , 23 , 24  NaN
14  2018/02/03  12 , 21 , 24 , 31 , 34  NaN
15  2018/02/02  01 , 10 , 13 , 16 , 20  NaN
16  2018/02/01  13 , 15 , 20 , 22 , 37  NaN
17  2018/01/31  01 , 02 , 13 , 22 , 39  NaN
18  2018/01/30  08 , 10 , 15 , 17 , 31  NaN
19  2018/01/29  19 , 22 , 24 , 31 , 37  NaN
20  2018/01/27  03 , 23 , 29 , 34 , 39  NaN
21  2018/01/26  02 , 17 , 19 , 24 , 27  NaN
22  2018/01/25  06 , 07 , 14 , 22 , 36  NaN
23  2018/01/24  23 , 27 , 30 , 36 , 37  NaN
24  2018/01/23  01 , 04 , 07 , 29 , 33  NaN
25  2018/01/22  14 , 23 , 32 , 34 , 35  NaN
26  2018/01/20  12 , 23 , 25 , 26 , 28  NaN
27  2018/01/19  03 , 05 , 14 , 15 , 20  NaN
28  2018/01/18  08 , 23 , 29 , 35 , 37  NaN
29  2018/01/17  07 , 09 , 12 , 25 , 26  NaN
..         ...                     ...  ...
31  2018/01/15  05 , 06 , 09 , 15 , 36  NaN
32  2018/01/13  06 , 09 , 13 , 27 , 34  NaN
33  2018/01/12  01 , 06 , 11 , 16 , 37  NaN
34  2018/01/11  03 , 07 , 11 , 12 , 29  NaN
35  2018/01/10  02 , 06 , 07 , 13 , 32  NaN
36  2018/01/09  01 , 23 , 26 , 28 , 36  NaN
37  2018/01/08  02 , 22 , 28 , 32 , 34  NaN
38  2018/01/06  04 , 07 , 13 , 31 , 39  NaN
39  2018/01/05  04 , 08 , 12 , 17 , 30  NaN
40  2018/01/04  10 , 14 , 21 , 25 , 26  NaN
41  2018/01/03  02 , 03 , 06 , 10 , 18  NaN
42  2018/01/02  02 , 07 , 09 , 12 , 39  NaN
43  2018/01/01  01 , 14 , 18 , 19 , 24  NaN
44  2017/12/30  05 , 18 , 20 , 35 , 36  NaN
45  2017/12/29  04 , 08 , 10 , 15 , 30  NaN
46  2017/12/28  07 , 10 , 20 , 33 , 39  NaN
47  2017/12/27  03 , 30 , 34 , 35 , 37  NaN
48  2017/12/26  07 , 11 , 17 , 18 , 35  NaN
49  2017/12/25  05 , 11 , 21 , 33 , 38  NaN
50  2017/12/23  15 , 19 , 21 , 24 , 30  NaN
51  2017/12/22  01 , 06 , 14 , 29 , 34  NaN
52  2017/12/21  03 , 18 , 24 , 28 , 32  NaN
53  2017/12/20  07 , 10 , 18 , 34 , 38  NaN
54  2017/12/19  04 , 08 , 11 , 25 , 27  NaN
55  2017/12/18  01 , 03 , 07 , 18 , 34  NaN
56  2017/12/16  14 , 19 , 29 , 30 , 37  NaN
57  2017/12/15  14 , 27 , 30 , 36 , 37  NaN
58  2017/12/14  08 , 19 , 25 , 26 , 38  NaN
59  2017/12/13  11 , 12 , 21 , 22 , 33  NaN
60  2017/12/12  06 , 09 , 21 , 23 , 39  NaN

[61 rows x 3 columns]

            Date    Open    High     Low   Close Adj_Close     Volume
0   Feb 24, 2017  108.88  109.06  108.82  109.00    106.51  2,670,900
1   Feb 23, 2017  108.56  108.65  108.53  108.60    106.12  2,169,000
2   Feb 22, 2017  108.54  108.55  108.20  108.42    105.94  2,655,500
3   Feb 21, 2017  108.24  108.45  108.22  108.35    105.87  1,980,300
4   Feb 17, 2017  108.37  108.45  108.32  108.36    105.88  2,228,100
5   Feb 16, 2017  108.01  108.28  108.01  108.12    105.65  5,257,400
6   Feb 15, 2017  107.92  108.00  107.86  107.89    105.42  2,138,900
7   Feb 14, 2017  108.30  108.30  107.91  108.06    105.59  2,809,500
8   Feb 13, 2017  108.34  108.35  108.23  108.30    105.82  2,189,800
9   Feb 10, 2017  108.26  108.47  108.26  108.46    105.98  2,365,300
10  Feb 09, 2017  108.61  108.67  108.43  108.48    106.00  2,736,000
11  Feb 08, 2017  108.61  108.83  108.61  108.74    106.25  3,873,200
12  Feb 07, 2017  108.30  108.58  108.25  108.43    105.95  2,659,100
13  Feb 06, 2017  108.22  108.38  108.10  108.32    105.84  1,827,000
14  Feb 03, 2017  108.12  108.28  107.86  108.01    105.54  2,728,400
15  Feb 02, 2017  108.06  108.18  107.95  107.98    105.51  3,490,700
16  Feb 01, 2017  107.77  108.01  107.69  107.92    105.45  2,994,200
17  Jan 31, 2017  108.08  108.37  108.08  108.29    105.60  7,552,700
18  Jan 30, 2017  108.16  108.21  108.03  108.03    105.35  2,946,200
19  Jan 27, 2017  108.03  108.16  108.02  108.08    105.40  3,096,800
20  Jan 26, 2017  107.86  108.03  107.71  107.99    105.31  2,046,300
21  Jan 25, 2017  107.98  108.04  107.83  107.92    105.24  2,912,900
22  Jan 24, 2017  108.33  108.40  108.10  108.21    105.52  2,049,500